@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.about-us {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 90px 0;
  background: #fff;
}
.pic {
  height: auto;
  width: 400px;
  border-radius: 12px;
}
.about {
  width: 1130px;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.text {
  width: 540px;
}
.text h2 {
  color: #333;
  font-size: 90px;
  font-weight: 600;
  margin-bottom: 10px;
}
.text h5 {
  color: #333;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}
span {
  color: #4070f4;
}
.text p {
  color: #333;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
}
.data {
  margin-top: 30px;
}
.hire {
  font-size: 18px;
  background: #4070f4;
  color: #fff;
  text-decoration: none;
  border: none;
  padding: 12px 25px;
  border-radius: 6px;
  transition: 0.5s;
}
.hire:hover {
  background: #000;
}
header{
  width: 100%;
  height: 70px;
  background-color: rgb(47, 153, 153);
  box-shadow: 0px 0px 12px rgb(42, 165, 147) ;

}
#d12 div{
  width: 100%;
  height: 70px;
  font-size: 9px;
  font: weight 12px;;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #f5f0f0;
  
   

}
header button{
  width: 140px;
  padding:10px;
  margin-top:18px;
  border:none;
  background:none;
  outline:none;
  font-size: 18px;
  box-shadow: 0px 0px 8px rgb(45, 204, 210);
  font: weight 12px;;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  transition:1s ;

}
header button:hover{
 color: rgb(179, 250, 248);
 box-shadow: 0px 0px 15pc rgb(27, 95, 80);
 
 
}
header img{
width:110px;
float: left;

}

#d13 div{
  width: 274px;
  height: 420px;
  border: 1px solid rgb(255, 255, 255);
  font-size: 29px;
  font-weight:bold ;
  box-shadow: 1px 1px 12px rgb(19, 134, 130);
  float: left; 
  margin-left: 130px;
  margin-top: 60px;
  border-radius: 12px;
  transition: 1s;
  

}
#d13 div:hover{ 
  color: rgb(39, 67, 67);
  background-color:rgb(142, 224, 207) ;
 transition: 1s;
  float: left;
  color: rgb(179, 250, 248);
  box-shadow: 0px 0px 15pc rgb(27, 95, 80);

}
